body {
    background-image:url('images/rainbow.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
    background-size: cover;
    background-color: #25274D;
    padding:0;
    margin:0;
}

h2 {
    color: #DEF2F1;
    text-align: center;
    clear:both;

        
}

figure{
       border-color: #3AAFA9;
  margin:10px;
    width:500px;
    height:600px;
  border-style: double;
  border-radius: 1px;
    border-width: 5px;
    float:right;
    color:white;
    margin-right: 30px;
    
    margin-bottom: 5px;
    
}
figcaption{
    text-align: center;
    font-style:italic;
}

p {
  color: #AAABB8;
  font-size: 19px;
    padding: 40px;
}

li {
    color: white;
    padding: 5px;
    margin-left: 20px;
}
h3 {
    text-align: center;
    border: dashed;
    border-color: white;
    color: gray;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 10px;
}

h4 a{
    display: inline;
    margin-right: 1.5em;
    text-align: center;
}
h1 {

  text-align: center;
  font-weight: lighter;
  text-decoration:underline;
  color:#2E9CCA;
    border-style: inset;
    margin: 50px;
    margin-right: 100px;
     margin-left: 100px;
    background-color: black;
    font-family: Courier New;
    
}

a {
  color: darkcyan;
    text-decoration: underline;
    text-decoration-color: darkviolet;
    font-size: 18px;
    padding: 20px;
}
img { width: 500px;
  height: 600px;

}

ul {
    font-size: 25px;
    color: black;
}

.milk{
  background-color: #AAABB8;
  font-size: 130px;
    text-decoration-color: #464866;
    color: #2E9CCA;
        margin-right: 60px;
    margin-left: 60px;
    font-family: ariel;
}


.hobbies{
    background-image:url('Images/Epic_Sax_Guy_Gif.gif'); background-repeat:repeat; 
    
}


.drums{
    margin-right: 425px;
}

h4 {
    text-align: center;
}

.code {
    width: 370px;
  height: 570px;
  margin:10px;
  border-color: black;
  border-style: dotted;
  border-radius: 1px;
    border-width: 10px;
    float:left;
}

.artifacts{
    border-color: #3AAFA9;
    width: 500px;
  height: 700px;
  margin:10px;
    margin-bottom: 20px;
  border-style: double;
  border-radius: 1px;
    border-width: 5px;
    float:right;
    margin-right: 50px;
    text-align: center;
    font-style:italic;

}

.round {
      float: right;
  width: 250px;
  height: 250px;
  margin:10px;
  border-color: #3AAFA9;
  border-width: 100px;
  border-style: ridge;
  border-radius: 500px;
}

.wrap{
    float:left;
    width: 50%;
}
